<div class="mainContainer">
    <div *ngIf="quiz">
        <form [formGroup]="quizForm" class="quizForm" (ngSubmit)="onSubmit()">

            <h2>{{quiz.quizName}}</h2>
            <h3 class="subtitles">{{quiz.description}}</h3>
            <div formArrayName="questions" class="questionsContainer">
                <mat-form-field *ngFor="let question of questions().controls; let i=index" [formGroupName]="i"
                    class="formField" appearance="standard">
                    <mat-label>{{question.value.questionName}}</mat-label>
                    <input matInput formControlName="questionValue" placeholder=""
                        required="{{question.value.mandatoryField}}">
                    <mat-error>{{getErrorMessage(question)}}</mat-error>
                </mat-form-field>
            </div>
            <button type="submit" class="submitButton" mat-raised-button color="primary">Salvar</button>

        </form>
    </div>
</div>